html {
    overflow-x: hidden;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    background-color: #f8f9fa;
  }

.container-fluid {
    background-color: rgb(84, 214, 138);
}

h2 {
    text-align: center;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 30px;
    color : rgb(84, 214, 138);
}

p {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

/* 메인 페이지 인기 게시글 레이아웃 */
.popular-posts-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2열 배치 */
    gap: 20px; /* 박스 간격 */
    margin: 20px auto;
    max-width: 1200px; /* 최대 폭 */
}

.popular-post-box {
    background-color: #e4ebea; /* 박스 배경색 */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    text-align: left; /* 내용 정렬 */
}

.popular-post-box h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333; /* 제목 색상 */
}

.popular-post-box ul {
    list-style: none; /* 리스트 스타일 제거 */
    padding: 0;
}

.popular-post-box ul li {
    margin-bottom: 10px;
    font-size: 18px;
}

.popular-post-box ul li a {
    text-decoration: none;
    color: #000000; /* 링크 색상 */
    font-weight: bold;
}

.popular-post-box ul li a:hover {
    text-decoration: underline; /* 링크 호버 스타일 */
}

h3 {
    font-weight: bold;
}