html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  background-color: #f8f9fa;
}

.container-fluid {
  background-color: rgb(84, 214, 138);
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.card {
  border-radius: 10px;
}

.card-header {
  text-align: center;
  font-weight: bold;
  background-color: rgb(84, 214, 138); /* 배경색 변경 */
  color: white; /* 글자색 변경 */
  border-radius: 10px 10px 0 0; /* 상단 모서리 둥글게 */
}

.form-label {
  font-weight: bold;
  color: #333;
}

.form-control {
  border-radius: 5px;
}

button {
  border-radius: 5px;
}

button.btn-success {
  background-color: rgb(84, 214, 138);
}

button.btn-secondary {
  background-color: #6c757d;
}
