html {
    overflow-x: hidden;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    background-color: #f8f9fa;
  }

.container {
    max-width: 800px;
    margin: 0 auto;
}

.card {
    border-radius: 10px;
}

.card-header {
    text-align: center;
    font-weight: bold;
    background-color: rgb(84, 214, 138);
}

.form-label {
    font-weight: bold;
    color: #333;
}

.form-control, .form-select {
    border-radius: 5px;
    border: 1px solid #ced4da;
}

textarea.form-control {
    resize: none;
}

button {
    border-radius: 5px;
}

.btn-success {
    background-color: rgb(84, 214, 138);
}